*{
   box-sizing: border-box; 
   font-family: Arial, Helvetica, sans-serif;
   color: #303030;
}

body{
    margin: 0;
}

/* Nav Bar CSS */
.logo{
    width: 150px;
    float: left;
}

#logoDiv{
    float: left;
    display: block;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mainNav{
    padding: 20px;
    padding-right: 40px;
}

#navBar{
    background-color: #303030;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    display: block;
}

.navHead{
    padding-right: 10px;
    float: left;
}

.navHead a{
    color: white;
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding-right: 40px;
}
.navHead a:hover{
    color: #ff7ab6;
    transition: 0.3s;
}

.navSearch{
    display: block;
    color: #ff7ab6;
    float: right;
    font-size: 20px;
    padding-right: 10px;
}

.searchBar{
    float: right;
    padding-bottom: 15px;
    padding-right: 70px;
    padding-top: 17px;
}
.searchBar input{
    height: 30px;
    width: 200px;
    display: inline;
}

/* Main Content CSS */
.mainLeft{
    color:#303030;
    padding-right: 50px;
}

h1.headLabel{
    font-size: 50px;
    color: #303030;
}

.post1{
    width: 800px;
}

.week12{
    font-size: 33px;
}

#mainContents{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post1Desc{
    width: 800px;
    text-align: justify;
    font-size: 25px;
    color: #ff7ab6;
}

.topContents{
    display: flex;
}

#subNewsletters{
    display: flex;
}

#mainNewsletter h1:hover{
    scale: 102%;
    transition: 0.3s;
}

.week10_11{
    width: 390px;
    font-size: 25px;
}

.week10_11:hover{
    scale: 102%;
    transition: 0.3s;
}

.post2_3Desc{
    width: 390px;
    text-align: justify;
    font-size: 17px;
    color: #ff7ab6;
}

.post2Pic{
    width: 390px;
}

.post3Pic{
    width: 390px;
}

.post2{
    padding-right: 10px;
}

.post3{
    padding-left: 10px;
}

.mainRight{
    border-color: #303030;
    border-style: solid;
    border-width: 5px;
    width: 700px;
}

#kapsulesLabel{
    display: block;
    padding-top: 0px;
    padding-left: 10px;
}

.kapsuleArticlePic{
    width: 200px;
    height: auto;
    padding-top: 2px;
    
}

.kapsuleArticleText{
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.kapsuleArticleTitle{
    font-size: 20px;
    color: #ff7ab6;
}

.kapsuleArticleDesc{
    font-size: 15px;
    color: white;
}

.kapsuleArticle{
    display: flex;
    background-color: #303030;
    height: 209px;
}

.kapsuleQuizPic{
    width: 200px;
    height: auto;
    padding-top: 2px;
    
}

.kapsuleQuizText{
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.kapsuleQuizTitle{
    font-size: 20px;
    color: #ff7ab6;
}

.kapsuleQuizDesc{
    font-size: 15px;
    color: #303030;
}

.kapsuleQuiz{
    display: flex;
    background-color: white;
    height: 209px;
}

.kapsuleQuiz:hover{
    background-color: rgba(255, 122, 182, 0.3);
    transition: 0.3s;
}

.kapsuleArticle:hover{
    background-color: rgba(102, 102, 102, 0.9);
    transition: 0.3s;
}

#mainKapsules a{
    text-decoration: none;
}

.moreKapsules{
    padding-top: 15px;
    padding-left: 130px;
}

.btnMoreKapsules{
    width: 250px;
    height: 50px;
    font-size: 20px;
    background-color: #303030;
    color: white;
    border-radius: 15px;
}

.btnMoreKapsules:hover{
    background-color: #ff7ab6;
    transition: 0.3s;
}

/* Footer CSS */
footer * {
    width: 100%;
    background-color: #ff7ab6;
    color: #303030;
}

#footerMain{
    display: flex;
}

.subscription{
    padding-left: 67px;
}

.socials{
    padding-left: 200px;
    padding-right: 0px;
}

.subDesc{
    font-size: 17px;
}

#email{
    padding-bottom: 0px;
    display: block;
}

.typeEmail{
    width: 300px;
    height: 40px;
    background-color: white;
}

.buttonEmail{
    width: 150px;
    height: 40px;
    border-radius: 15px;
}

button:hover{
    background-color: #303030;
    color: white;
    transition: 0.3s;
}

.socIcon{
    width: auto;
    height: 40px;
    float: left;
    padding-right: 15px;
}

#pigeon{
    width: auto;
    height: 45px;
    padding-right: 10px;
}

footer h4{
    font-size: 17px;
    display: block;
}

.pigeon{
    padding-top: 10px;
}

.camera{
    padding-top: 10px;
}

.play{
    padding-top: 10px;
}
