*{
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
    color: #303030;
 }
 
 body{
     margin: 0px;
 }
 
 /* Nav Bar CSS */
 .logo{
     width: 150px;
     float: left;
 }
 
 #logoDiv{
     float: left;
     display: block;
     padding-left: 70px;
     padding-right: 70px;
     padding-top: 5px;
     padding-bottom: 5px;
 }
 
 .mainNav{
     padding: 20px;
     padding-right: 40px;
 }
 
 #navBar{
     background-color: #303030;
     z-index: 1;
     overflow: hidden;
     width: 100%;
     display: block;
 }
 
 .navHead{
     padding-right: 10px;
     float: left;
 }
 
 .navHead a{
     color: white;
     float: right;
     display: block;
     text-align: center;
     text-decoration: none;
     font-size: 25px;
     padding-right: 40px;
 }
 .navHead a:hover{
     color: #ff7ab6;
     transition: 0.3s;
 }
 
 .navSearch{
     display: block;
     color: #ff7ab6;
     float: right;
     font-size: 20px;
     padding-right: 10px;
 }
 
 .searchBar{
     float: right;
     padding-bottom: 15px;
     padding-right: 70px;
     padding-top: 17px;
 }
 .searchBar input{
     height: 30px;
     width: 200px;
     display: inline;
 }

 /* main body css */
 .kapsulesContents{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.kapsulesLabel{
    display: flex;
}

h1.headLabel{
    font-size: 50px;
    color: #303030;
    padding: 0px;
    display: block;
}

.articlesCollection{
    display: flex;
}

.indivArticles{
    padding-left: 55px;
}

.indivArticle1{
    padding-left: 0px;
}

.kapsulesDesc{
    font-size: 20px;
    padding-left: 30px;
    padding-top: 40px;
    font-style: italic;
}

.articleImg{
    width: 300px;
}

.articleText{
    width: 300px;
}

.indivArticle1:hover img{
    scale: 105%;
    transition: 0.5s;
}

.indivArticle1:hover h2{
    color:#ff7ab6;
    transition: 0.5s;
}

.indivArticle1 a{
    text-decoration: none;
}

.indivArticles a{
    text-decoration: none;
}

.indivArticles:hover img{
    scale: 105%;
    transition: 0.5s;
}

.indivArticles:hover h2{
    color:#ff7ab6;
    transition: 0.5s;
}

h1.subLabel{
    font-size: 35px;
    color:#ff7ab6;
}

.kapsulesDesc{
    font-size: 20px;
    padding-left: 30px;
    padding-top: 40px;
}

.quizImg{
    width: 300px;
}

.quizText{
    width: 300px;
}

 /* Footer CSS */
footer * {
    width: 100%;
    background-color: #ff7ab6;
    color: #303030;
}

#footerMain{
    display: flex;
}

.subscription{
    padding-left: 67px;
}

.socials{
    padding-left: 200px;
    padding-right: 0px;
}

.subDesc{
    font-size: 17px;
}

#email{
    padding-bottom: 0px;
    display: block;
}

.typeEmail{
    width: 300px;
    height: 40px;
    background-color: white;
}

.buttonEmail{
    width: 150px;
    height: 40px;
}

button:hover{
    background-color: #303030;
    color: white;
    transition: 0.3s;
}

.socIcon{
    width: auto;
    height: 40px;
    float: left;
    padding-right: 15px;
}

#pigeon{
    width: auto;
    height: 45px;
    padding-right: 10px;
}

footer h4{
    font-size: 17px;
    display: block;
}

.pigeon{
    padding-top: 10px;
}

.camera{
    padding-top: 10px;
}

.play{
    padding-top: 10px;
}

